@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/montserrat.woff2') format('woff2');
}
.viewport {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.viewport canvas {
    width: 100%!important;
    height: 100%!important;
}
.map {
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 20px;
    opacity: 0.5;
    transition: opacity .3s ease-in-out
}
.map:hover {
    opacity: 1
}
.map-node {
    position: relative;
    right: -30px;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0;
    background-color: #222;
    border-radius: 50%;
    background-clip: padding-box;
    transition: background-color .3s ease-in-out
}
.map-node.is-active {
    background-color: #fff
}
.info-svg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.info-svg text {
    fill: white;
    font-family: 'Montserrat', sans-serif;
}
.info-svg line {
    stroke: white
}
.info-svg #name {
    font-size: 5em;
}
.info-svg #fill {
    opacity: 0;
}
.info-svg #info text {
    opacity: 0;
}
.info-svg #tip {
    opacity: 0;
}
.info-svg #tip text {
	font-size: 0.8em;
}
#chart {
    display: none;
    z-index: 20;
}
.pieTip {
    z-index: 30;
    position: absolute;
    float: left;
    min-width: 30px;
    max-width: 300px;
    padding: 5px 18px 6px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .97);
    color: #444;
	font-size: 0.8em;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.pieTip:after {
    position: absolute;
    left: 50%;
    bottom: -6px;
    content: "";
    height: 0;
    margin: 0 0 0 -6px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, .95);
    line-height: 0;
}